uv.lock
.venv
venv/

node_modules/
frontend/node_modules/
dist/
frontend/dist/

data/knowledge_graph.json
data/knowledge_graph2.json
data/constitution_and_ipc.faiss

*.csv
.dvc
.env

*.db
*.db-shm
*.db-wal
*.egg-info/

.ipynb_checkpoints
__pycache__

src/workflow_backup.py
src/Backend/data/
*.excalidraw